@{
    Layout = "_MasterLayout";
}
<div class="content">
    @RenderBody()
</div>

<div class="side">
    @if (IsSectionDefined("RightColumn"))
    {
        @RenderSection("RightColumn")
    }
</div>

@if (IsSectionDefined("Scripts"))
{
    @section Scripts{
        @RenderSection("Scripts")
    }
}