@model MUP_RR.Models.MupRuleForm

@using(Html.BeginForm("AddRule", "Home", FormMethod.Post)){
     <div class="control-group form-group">

                    <div class="controls">

                        <label>Unidade Orgânica:</label>
                        <p>
                        @Html.DropDownListFor(m => m.uo, new SelectList((IEnumerable<UO>)  ViewData["UO"]), "Please select",new { style="width:30%"})       
                        </p>         

                    </div>

                </div>

               <div class="control-group form-group">

                    <div class="controls">

                        <label >Vinculo:</label>
                        <p>
                        @Html.DropDownListFor(m => m.vinculo, new SelectList((IEnumerable<Vinculo>)  ViewData["V"]), "Please select",new { style="width:30%"})        
                        </p>

                    </div>

                </div>

                <div class="control-group form-group">

                    <div class="controls">

                        <label >Perfil:</label>
                        <p>
                        @Html.DropDownListFor(m => m.profile, new SelectList((IEnumerable<Profile>)  ViewData["P"]), "Please select",new { style="width:30%"})        
                        </p>   

                    </div>

                </div>

                <div class="control-group form-group">

                    <div class="controls">

                        <label>Classroom Group:</label>
                        <p>
                        @Html.DropDownListFor(m => m.classGroup, new SelectList((IEnumerable<ClassroomGroup>)  ViewData["CSG"]), "Please select",new { style="width:30%"})        
                        </p>

                    </div>

                </div>

                <div id="success"></div>

                <button type="submit" class="btn btn-success" id="addRuleButton">Add Rule</button>
}
